 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Denis ist ein sehr erfahrener Entwickler mit einer breiten Erfahrung in IT- und Implementierungsprojekten im privaten und öffentlichen Sektor. Er strebt nach pragmatischen, geschäftsorientierten Lösungen mit einer möglichst geringen architektonischen Komplexität. Er ist erfahren in der Backend-Entwicklung und liebt es, komplexe Probleme in enger Zusammenarbeit mit den Stakeholdern zu lösen.
                        Denis' Arbeitsweise zeichnet sich durch ein hohes Engagement, eine zielorientierte Denkweise und Ungezwungenheit aus. Er ist besonders stark bei der Lösung von Problemen und der Arbeit an Zielen und Deadlines. Er arbeitet vorzugsweise in Teams, in denen er Verantwortung und Initiative übernehmen kann.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Denis is a very skilled technical consultant with a broad experience in IT- and implementation projects in the private sector. He strives for pragmatic, business-oriented solutions that come with a preferably low architectural complexity. He’s experienced in backend development and likes to solve complex problems while in close collaboration with stakeholders.
                        Denis's way of working is characterized by a deep commitment, a goal-oriented mindset, and informality. He is particularly strong in problem-solving and working towards goals and deadlines. He preferably works in teams where he can take responsibility and initiative.</p>
                </div>
            </div>
        </div>
    </section>
