<!-- Impressum Section -->
<section id="impressum">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Impressum</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            Angaben gemäß § 5 TMG:<br/>
            Denis Hamann<br/>
            Softwareentwickler<br/>
            Königswiesen. 1️⃣<br/>
            2️⃣1️⃣1️⃣4️⃣7️⃣ Hamburg<br/>
            <br/>
            Kontakt:<br/>
            Telefon:	0️⃣1️⃣6️⃣0️⃣ 6️⃣9️⃣6️⃣6️⃣8️⃣5️⃣8️⃣<br/>
            E-Mail:	mail ⓐⓣ denis-hamann◌dev<br/>
            Umsatzsteuer-ID:<br/>
            Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:<br/>
            DE 3️⃣4️⃣3️⃣9️⃣9️⃣6️⃣5️⃣2️⃣5️⃣<br/>
            <br/>
            © 2023 Denis Hamann<br/>
            </div>
        </div>
    </div>
</section>
